.bio_container {
	width: 100%;
	height: 35vh;
	background: #1C1C20;
	display: flex;
	flex-direction: row;
	color: #f1f1f1;
}

.bio_left-container {
	width: 40%;
	height: 100%;
	margin: 2.5%;
}

.bio_right-container {
	width: 60%;
	height: 100%;
	margin: 2.5%;
} 

.bio_years-container {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}

.bio_years-title {
	font-size: 8.5vw;
	color: #F32E0A;
	font-family: octin-college, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bio_years {
	width: 20%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	line-height: 15px;
	margin-right: 7%;
}

.bio_title_box {
	
}

.bio_color-box {
	width: 250px;
	height: 5px;
	background: #F32E0A;
}

.bio_years-experince {
	margin-left: 7px;
}

.bio_linkedin {
	width: 150px;
	height: 42px;
	border: 1.5px solid #F1f1f1;
	margin: 5px;
	color: #F1f1f1;
	font-size: 20px;
	background: none;
	font-family: octin-college, sans-serif;
  font-weight: 400;
  font-style: normal;
}