.welcome_container {
	display: flex;
	flex-direction: row;
	height: 90vh;
}

.left {
	width: 50%;
	height: 100%;
	background: #363636;
	color: #ffffff;
	font-size: 8vw;
}

.welcome_intro_motto {
	font-size: 1.5vw;
}

.right {
	width: 50%;
	height: 100%;
	background: #1B28C9;
	color: #ffffff;
}

.welcome_nav_component {
	width: 85%;
	font-size: 1.25vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5% auto;
}

.welcome_body_component {
  margin: 20% 5%;
}

.welcome_body_title {
	font-size: 3.75vw;
  line-height: 8vh;
  font-family: 'Anton', sans-serif;
  margin-top: 30%;
}

.welcome_intro_name {
	height: 100px;
	width: 100%;
	font-size: 6.5vw;
	font-family: 'Anton', sans-serif;
}

.welcome_intro_motto {
}

.welcome_intro_component {
	margin: 36% 5%;
	text-align: right;
}

.welcome_nav:hover {
	border-bottom: 3px solid #FFAF28;
}

.welcome_story-button {
	border: none;
	font-size: 18px;
	color: #FFAF28;
	background: none;
}

.welcome_body_subtitle {
	font-size: 24px;
	line-height: 3vh;
}

.welcome_button {
	width: 125px;
	height: 35px;
	border: 1px solid yellow;
	margin: 5px;
	color: yellow;
	background: none;
}
