.projects_container {

}

.projects_into-container {
  width: 100%;
  height: 15vh;
  background: #ffffff;
  text-align: center;
}

.beer_project {
  width: 100%;
  height: 60vh;
  background: lightblue;
}

.project_brand-title {
  font-size: 4vw;
}

.netflix_project {
  width: 100%;
  height: 60vh;
  background: #000000;
  color: #f1f1f1;
}

.airbnb_project {
  width: 100%;
  height: 60vh;
  background: #f1f1f1;
}

.project_info-para {
	font-size: 1.5vw;
}

.project_info-button {
  border: 1px solid #000000;
	background: none;
  color: #000000;
  font-size: 1.5vw;
  width: 155px;
  height: 45px;
}

.netflix_button {
  background: none;
  color: #f1f1f1;
  font-size: 1.5vw;
  width: 155px;
  height: 45px;;
}

.airbnb_button {
  border: 1px solid #ff5a5f;
  background: #f1f1f1;
  color: #ff5a5f;
  font-size: 1.5vw;
  width: 155px;
  height: 45px;
}

.netflix_logo {
  width: 27vw;
}

.project_color-box {
  width: 80px;
  height: 3px;
  background: #FFAF28;
}

.netflix_color-box {
  width: 80px;
  height: 3px;
  background: #e50914;
}

.project_text {
  /*border: 1px solid red;*/
  width: 50%;
}

.project_main-info {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3vw;
}

.project_brand-title {
  font-family: 'Abril Fatface', cursive;
}


